<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Kalau file atau folder memang ada, langsung tampilkan
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Selain itu, arahkan semua ke index.html
  RewriteRule ^ index.html [L]
</IfModule>
